<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>

<body>
    <h1>Inicio de sesión</h1>
    {% if username %}
    {% if valido %}
    <h3>Bienvenido {{username}}!!!!!</h3>
    {% else %}
    <h3>Credenciales incorrectas para el usuario {{username}}</h3>
    {% endif %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="username">Nombre de usuario</label>
            <input type="text" name="username" id="username">
        </p>
        <p>
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password">
        </p>
        <p>
            <button type="submit">Ingresar</button>

        </p>
    </form>
</body>

</html>