<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Holaaaaaaa</h1>
    {% if id %}
    <h3>El id es: <b>{{id}}</b></h3>
    {% endif %}

    {% if nombre %}
    <h3>El nombre es: <b>{{nombre}}</b></h3>
    {% endif %}
</body>

</html>