{% extends 'base2.html' %}

{% block titulo %}
Programas académicos
{% endblock titulo %}

{% block contenido %}
<h1>Programas académicos UAZ</h1>
<a class="btn btn-primary" href="{% url 'nuevo_programa' %}">Nuevo programa</a>

<form method="post">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <td></td>
                <td>{{form.nombre}}</td>
                <td>{{form.descripcion}}</td>
                <td>{{form.unidad}}</td>
                <td>
                    <button class="btn btn-primary bt-sm" type="submit">Buscar</button>
                </td>
            </tr>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Unidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for programa in programas %}
            <tr>
                <td>{{programa.id}}</td>
                <td>{{programa.nombre}}</td>
                <td>{{programa.descripcion}}</td>
                <td>{{programa.unidad_academica.nombre}}</td>
                <td>
                    <a class="btn btn-outline-danger btn-sm" href="#">Eliminar</a>
                    <a class="btn btn-outline-primary btn-sm" href="#">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
<div class="pagination">
    <span class="step-links">
        {% if programas.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ programas.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ programas.number }} of {{ programas.paginator.num_pages }}.
        </span>

        {% if programas.has_next %}
        <a href="?page={{ programas.next_page_number }}">next</a>
        <a href="?page={{ programas.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<div>
    <select name="cuantos">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
    </select>
</div>
{% endblock contenido %}